{% extends "base.html" %}
{% load static %}

{% block content %}
    {% spaceless %}
        <div class="container mt-4">
            <h1 class="text-center mb-4">Публікації</h1>
            <a href="{% url 'home' %}" class="d-block mb-3">На головну</a>
            {% if category %}
                <div class="mb-3">{{ category }}</div>
            {% endif %}

            {% for item in items %}
                <div class="card mb-4">
                    <div class="card-body bg-light">
                        <a href="{{ item.get_absolute_url }}">
                            <h4 class="card-title">{{ item.title }}</h4>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ item.pub_date|date:"j E Y"|safe }}
                        </h6>
                        <p class="card-text">
                            {{ item.description|safe|truncatewords_html:32 }}
                        </p>
                        <div class="text-center mb-3">
                            <img src="{{ item.images.all.0.image.url }}" class="img-fluid" alt="" />
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}